# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Android build outputs & local caches
android/.gradle
android/app/build
android/build
android/captures
android/local.properties
android/.idea
android/*.iml

# Temporary files & logs
*.log
.DS_Store
Thumbs.db
